{% extends 'base.html.twig' %}
{% block body %}
    {% include('./global/header.html.twig') %}
    {% include './step/step-frieze.html.twig' %}
    {% include './step/step1.html.twig' %}
{% endblock %}