<div class="c-step__frieze">
    <div class="c-step__frieze-number js-step-active">
        <span class="c-step__frieze-number-text">1</span>
    </div>
    <div class="c-step__frieze-line"></div>
    <div class="c-step__frieze-number">
        <span class="c-step__frieze-number-text">2</span>
    </div>
    <div class="c-step__frieze-line"></div>
    <div class="c-step__frieze-number">
        <span class="c-step__frieze-number-text">3</span>
    </div>
    <div class="c-step__frieze-line"></div>
    <div class="c-step__frieze-number">
        <span class="c-step__frieze-number-text">4</span>
    </div>
</div>