<div class="step1-formAdmin">
    <h2 class="c-step__title">
        {% trans %}step.information{% endtrans %}
    </h2>
    {{ form_row(formRds.pdf) }}
    {{ form_row(formAdmin.name) }}
    {{ form_row(formAdmin.surname) }}
    {{ form_row(formAdmin.email) }}

    <div class="btn-continue">
        <button> 
            <span> Continuer </span>
            <svg version="1.1" id="chevron-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="20px" height="20px" viewBox="144.5 153.5 316 331" enable-background="new 144.5 153.5 316 331" xml:space="preserve">
                <path d="M229.654,426.754c-8.365,8.365-8.365,21.928,0,30.292c8.365,8.365,21.927,8.365,30.292,0l122.4-122.4
                c8.364-8.365,8.364-21.927,0-30.292l-122.4-122.4c-8.365-8.365-21.928-8.365-30.292,0c-8.365,8.365-8.365,21.928,0,30.292
                 l107.312,107.313L229.654,426.754z"/>
            </svg>
        </button>
    </div>
</div>

<div class="step2-formRds">
    <h2 class="c-step__title">
        {% trans %}step.contexte{% endtrans %}
    </h2>

    {{ form_row(formRds.topic) }}
    {{ form_row(formRds.description) }}
        <div class="c-step__form-date">
            <span class="c-step__form-date-title">{% trans %}form.rds.date.title{% endtrans %}</span>
            <div class="c-step__form-date-picker">
                <span>{% trans %}form.rds.date.from{% endtrans %}</span> {{ form_row(formRds.dateFrom) }}
                <span>{% trans %}form.rds.date.to{% endtrans %}</span> {{ form_row(formRds.dateTo) }}
            </div>
        </div>
    {{ form_row(formRds.link) }}

    <div class="btn-continue">
        <button> 
            <span> Continuer </span>
            <svg version="1.1" id="chevron-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="20px" height="20px" viewBox="144.5 153.5 316 331" enable-background="new 144.5 153.5 316 331" xml:space="preserve">
                <path d="M229.654,426.754c-8.365,8.365-8.365,21.928,0,30.292c8.365,8.365,21.927,8.365,30.292,0l122.4-122.4
                c8.364-8.365,8.364-21.927,0-30.292l-122.4-122.4c-8.365-8.365-21.928-8.365-30.292,0c-8.365,8.365-8.365,21.928,0,30.292
                 l107.312,107.313L229.654,426.754z"/>
            </svg>
        </button>
    </div>
</div>

<div class="step3-formSignataire">
    <h2 class="c-step__title">
        {% trans %}step.signataires{% endtrans %}
    </h2>

    <div class="user-item">
        {%  for formSignataire in formsSignataires %}
            <h3>Signataire n° {{ loop.index }}</h3>
            {{ form_row(formSignataire.name) }}
            {{ form_row(formSignataire.surname) }}
            {{ form_row(formSignataire.email) }}
            {{ form_row(formSignataire.company) }}
        {% endfor %}
    </div>

    <div class="btn-continue">
        <button> 
            <span> Continuer </span>
            <svg version="1.1" id="chevron-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="20px" height="20px" viewBox="144.5 153.5 316 331" enable-background="new 144.5 153.5 316 331" xml:space="preserve">
                <path d="M229.654,426.754c-8.365,8.365-8.365,21.928,0,30.292c8.365,8.365,21.927,8.365,30.292,0l122.4-122.4
                c8.364-8.365,8.364-21.927,0-30.292l-122.4-122.4c-8.365-8.365-21.928-8.365-30.292,0c-8.365,8.365-8.365,21.928,0,30.292
                 l107.312,107.313L229.654,426.754z"/>
            </svg>
        </button>
    </div>
</div>

<div class="step4-formEmail">
    <h2 class="c-step__title">
        {% trans %}step.email{% endtrans %}
    </h2>
   
    {{ form_row(formEmail.topic) }}
    {{ form_row(formEmail.content) }}
    {{ form_row(formEmail.reminder) }}
    {{ form_row(formEmail.frequency) }}

    <div class="btn-continue">
        {{ form_row(formEmail.save) }}
    </div>
</div>