<header class="c-header">
    <svg version="1.1" id="c-header__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="200.439px" height="200.439px" viewBox="0 0 200.439 200.439" enable-background="new 0 0 200.439 200.439"
         xml:space="preserve">
        <path fill="#E4856A" d="M100.221,0L0,100.22l100.22,100.22l100.22-100.22L100.221,0z M40.088,100.22h120.264l-60.132,60.132
            L40.088,100.22z"/>
    </svg>
    <h1 class="c-header__title">
        SoWeSign
    </h1>
</header>
