/* Textarea
 ============================================= */
/*
* Allow only vertical resizing of textareas.
 */
textarea {
  resize: none;
}

/* Text input
 ============================================= */
textarea {
  height: 10rem;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"] {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;

  border: none;
  border-left: 0.7rem solid $green;
  border-radius: 0;

  color: $font-color-main;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  appearance: none;

  transition: border-color 0.3s;
  box-sizing: border-box;

  &::-moz-placeholder {
    color: $grey;
  }

  &::-webkit-input-placeholder {
    $color: $grey;
  }

  &:-ms-input-placeholder {
    color: $grey;
  } 
}

.sel:not(.disb) {
  background-color: #e4856a !important; 
  border-radius: 50%;
  color: #fff;
}

.day {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.active.inBtw.day {
  border-radius: 50%;
  background: #FFBCA6;
  color: #fff;
}