{% extends 'base.html.twig' %}
{% block body %}
    <form method="post" action="{{ path('upload') }}" class="c-upload-container" id="upload" enctype="multipart/form-data">
        <div id="drop-zone">
            <div class="c-upload-circle" id="upload-circle">
                <div class="c-upload-inner-circle">
                    <label for="file-field" id="choose-file"></label>
                </div>
            </div>
            <div class="c-upload-text">
                {% trans %}index.drag&drop{% endtrans %}
                <span class="c-upload-hint js-upload-hint">?</span>
            </div>

            <input type="file" id="file-field" name="file-field">
        </div>
    </form>
    {% include('./index/popin.html.twig') %}
{% endblock %}