#cookie-law-info-bar {
  background-color: $orange !important;
  opacity: 0.8;
  bottom: 0 !important;
  text-align: left !important;
  font-size: 1.6rem;
  line-height: 2rem;

  p {
    text-align: left !important;
  }
}

#cookie-law-close-button {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  background-color: $green;
  border-bottom: 0.2rem solid $shadow;
  width: 50%;
  border-radius: 1rem;
}