.c-step__container {
  margin-top: 3rem;
  padding: 2rem;
}

.c-step__title {
  text-align: center;
  margin-bottom: 2rem;
}

.c-step__form-date-picker {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  div {
    width: 45%;
  }
  span {
    padding: 0.5rem;
  }
}

.btn-continue {
  text-align: center;
}

.btn-continue button {
  background: $green;
  width: 200px;
  padding: 1rem;
  border-radius: 20px;
  color: $white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  border: none;
  box-shadow: 0 0 8px #dedede;
  fill: $white;
}

svg#chevron-right,
.btn-continue span {
  vertical-align: middle;
}
