.c-upload-container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 2rem;

  transform: translate(-50%, -50%);
}

.c-upload-circle {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: $white;
  border: 20px solid $orange;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}

.c-upload-inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: $green;
}

.c-upload-text {
  text-align: center;
  font-weight: 700;
}

.c-upload-hint {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  border-radius: 50%;
  color: $white;
  background-color: $orange;
  cursor: pointer;
}

.c-upload__modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  overflow: hidden;
}

.c-upload__modal-top {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.c-upload__modal-close {
  cursor: pointer;
  text-align: right;

  svg {
    fill: $orange;
  }
}

.c-upload__modal-text {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  overflow: auto;
}

.c-upload__blur {
  position: absolute;
  background-color: $black;
}

#choose-file {
  display: block;
  width: 100%;
  height: 100%;
}