.c-header {
  padding: 3rem;
  text-align: center;
  color: $orange;
  background-color: $white;
}

.c-header__title {
  display: inline-block;
  vertical-align: middle;
}

#c-header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
}