.c-step__frieze {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  top: 9rem;
  left: 0;
  padding: 0 2rem;
  width: 100%;
}

.c-step__frieze-number {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  text-align: center;
  background-color: $green;
}

.c-step__frieze-number-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: $white;
  font-weight: 700;
  transform: translate(-50%, -50%);
}

.c-step__frieze-line {
  flex: 1;
  align-self: center;
  background-color: $green;
  height: 1rem;
}

.js-step-active {
  background-color: $orange;
}